*
{
    margin:0;
    padding:0;
}
body {
    background-color: #E87D3A;
}


ul
{
    float:right;
    list-style:none;
    margin-top:30px;
}
ul li
{
    display:inline-block;
    margin-right:40px;
}
    ul li a {
        color: rgba(255,255,255,0.5);
        text-decoration: none;
        padding: 5px 20px;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        transition: 0.5s ease;
    }
ul li a:hover{
        color: rgba(255,255,255,0.75);
    }
ul li a.active {
        border-bottom: 2px solid #cd99d4;
        color: #fff;
}
.main{
    max-width:1200px;
    margin:auto;

}

.title{
    position: absolute ;
    
}


.row p {
    color: #FFB44C;
    font-size: 60px;
    padding-left: 400px;
    margin-bottom: 10px;
    padding-top: 30px;
}

.title h1{
    align-content:center;
    padding-left:30px;
    
}
.title p {
    padding-left: 500px;
    padding-right: 200px;
    text-align: justify;
    font-family: 'Times New Roman';
    color: #FFE1B5;
    font-size: 30px;
}
.title h1 img{
    border-radius:3px;

}

